@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');



/* ----- Fonts ----- */

body {
    font-family: "Alatsi", sans-serif;
}

.content-font {
    font-family: "Alata", sans-serif;
}

/* ----- NavBar ----- */


.navbar {
    background-color: rgb(154, 208, 192);
    margin-bottom: 20px;

}


.navbar-brand img {
    width: 120px;
    height: 100px;
    margin-left: 20px;
}

.navbar a {
    color: #0c0c0c;
}


.navbar-nav li {

    font-family: 'Alata', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0c0c0c;
    padding: 0 2em;


}

li:hover {
    color: #f48826;
    transition: 0.3s ease-in-out;
}

ul li a.active {
    color: #af5500;


}

.navbar a:hover {
    color: #f48826;
    transition: 0.3s ease-in-out;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-menu {
    background-color: rgb(154, 208, 192);
    color: #fafafa;
    border: 2px solid black;
    border-radius: 5px;
    right: 0 !important;
    left: auto !important;
}


.dropdown-item:hover {
    background: none;
}


.navbar-mobile-toggler {
    color: black;
    font-size: 30px;


}

.navbar-toggler {
    border: none;
    outline: none;
}

/* ----- Fixed Background Image ----- */

#hero-image {

    height: 95vh;
    background: url("../images/nt-kaleidescope.png") no-repeat bottom fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.747);

}

/* ----- Jumbotron ----- */

.callout-jumbotron {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top: 65px;
}

.callout-jumbotron h2 {
    color: #f48826;
    text-shadow: rgb(209, 209, 209);
    letter-spacing: 4px;
    font-size: 4em;
}

.callout-jumbotron p {
    color: #fafafa;
}

/* ----- Testimonies ----- */

.testimonies-container {
    background-color: #0e0e0e;
    color: #fafafa;
    text-align: center;
    padding: 2.5em;

}

.testimonies-header {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
    color: #f48826;

}

.testimonies-icon {
    position: relative;
    right: 10px;
}

.testimonies-container p {
    font-size: 20px;
}

.reviewer-header {
    text-transform: uppercase;
    font-size: 1.3em;

}

.quote-content {
    padding-right: 0 30px;
    padding-top: 30px;
}

/* ----- "For the Fans" Accordion Section ----- */

.accordion-button {
    font-size: 1em;

}


.header-banner {
    background: url("../images/accordion-banner.png") no-repeat;

    background-color: #041E42;
    background-size: contain;
    padding-top: 100px;



}



.block-divider {
    height: 5px;
    width: 100px;
    border: none;
    background-color: white;
}



.accordion-header {
    color: #fafafa;

}

.accordion-dropdown {
    background: linear-gradient(#000853, #14205ace);
}

.accordion-media {
    margin-right: 5px;


}

.accordion-video {
    border-radius: 5px;
}

/* ----- Mailing List/Spotify Section */

.mailing-spotify-section {

    padding: 4.8em;
    background: url("../images/nt-accordion-background(2).png") no-repeat bottom fixed;
    background-size: contain;
    color: #fafafa;

}

.mailing-spotify-container {
    position: relative;
}

/* .mailing-spotify-content {
    position: absolute;
    margin: 0 auto;
} */

.mail-icon {
    position: relative;
    right: 20px;
}

.mailing-spotify-header {
    color: #f48826;
    text-transform: uppercase;

}

.mailing-cta {
    background: rgba(105, 158, 142, 0.596);
    padding: 30px;
    border-radius: 5%;
}

.spotify-desktop-image {
    position: relative;
    height: 70px;
    border-style: none;
    border-radius: 5px;

}

/* Spotify Player - Replaced depreciated
   iframe properties with CSS */

iframe {
    border: none;
    border-radius: 5px;
}


/* ----- Footer ----- */

.footer-section {
    background-color: rgb(154, 208, 192);

}

.earth-agency-icon {
    height: 80px;
    margin: auto 0;


}

.strut-icon {
    height: 100px;
    margin: auto 0;
}

.social a {
    font-size: 2.5em;
    padding: 0.6em;
    text-decoration: none;
    display: inline-block;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social a i:hover {
    color: #292929;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter-square {
    color: #108fbd;
}

.fa-instagram-square {
    color: #9338b9;
}

.fa-youtube {
    color: #bb0000;
}








/* Media Queries */

@media (max-width: 568px) {


    /* ----- Navbar ----- */



    .nav-link {
        font-size: 1rem;
        text-align: center;
    }




    .navbar-brand {
        margin: 0;
    }

    .navbar-brand img {
        display: none;
    }

    .navbar-nav li {
        padding-left: 0;
    }

    .dropdown-menu {
        background: none;
        border: none;
        color: #fafafa;
    }

    /* ----- Accordion Section ----- */

    .accordion-background {
        background: url("../images/nt-accordion-background(2).png") no-repeat fixed;
        background-size: cover;
        background-position: 0% 0%;


    }


    /* ----- Mailing List / Spotify Section ----- */

    .mailing-spotify-section {
        background-color: #0c0c0c;
        color: #fafafa;
    }

    .mailing-spotify-header {
        padding-top: 40px;
        padding-bottom: 20px;
        color: #f48826;

    }


    .spotify-mobile-banner {
        margin: 30px 0;

    }

    .spotify-leaderboard {
        width: 100%;
    }

    /* ----- Footer ----- */

    .social a {
        font-size: 1.5em;
        padding: 0.6em;
        text-decoration: none;
        display: inline-block;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;

    }

}

@media (min-width: 768px) {


    .nab .navbar-nav li {
        padding: 0 15px;
        font-size: 1em;
    }

    img {
        margin-left: 0 !important;
    }

}