/* ----- Fonts ----- */

@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700');



html,
body {
    min-height: 100%;
    margin: 0;
}

/* Page Header (h1) - applies to all pages except home page */

.page-header {
    font-family: "Alatsi", sans-serif;
    font-size: 3rem;
    color:#f48826;
    text-transform: uppercase;
    text-decoration: underline;
}

.header-padding {
    padding-top: 45px;
}
/*  Global Styling for sections of all pages that aren't at Hero level */

.section-header {
    background: url("../images/nt-livelistings-header.png") no-repeat;
    background-color: #141414;
    background-position: 0%;
    background-size: contain;
    font-family: "Alatsi", sans-serif;
    text-transform: uppercase;

}


.section-header h2 {
    padding-right: 5px;
    text-align: right;
    color: #d8d8d8;
    font-size: 2rem;
    margin-top: 20px;
}

.block {
    display: block;
}


/* ---------- Block Dividers (to be used on multiple pages) -------- */

.block-divider {
    border-top: 3px solid black !important;
}

.history-block-divider {
    border-top: 3px solid black;
    width: 80%;
}


/* ----- Navigation Bar ----- */


.navbar {
    background-color: #9ad0c0;
    margin-bottom: 20px;
    padding: 0;
}


.navbar-brand img {
    display: none;
}

.collapse-brand img {
    width: 50%;
    float: right;
}

.navbar a {
    color: #0c0c0c;
}

.navbar-nav li {
    font-family: 'Alata', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0c0c0c;
    padding-left: 10px;
    display: inline-block;
}

.navbar a:hover {
    color:rgb(105, 76, 48);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}


ul li a.active {
    color: rgb(105, 76, 48)
}


.navbar-mobile-toggler {
    color: black;
    font-size: 40px;
}

.navbar-toggler {
    border: none;
    outline: none;
}

/* ----- Fixed Background Image ----- */


.callout-container {

    height: 90vh;
    background: url("../images/hero-images/home-hero.jpg") no-repeat bottom fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.747);
}

/* Centering first call-to-action button on hero image */
.anchor-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Call-to-action styling */
.anchor-wrapper button {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #fafafa;
    background: none;
    border: 1px solid #fafafa;
    letter-spacing: 2px;
}




/* ----- Jumbotron ----- */


.callout-jumbotron {
    background-color: rgba(0, 0, 0, 0); /* Providing a transparent background */
    position: relative;
    padding: 0;
    margin-bottom: 250px;
}

.callout-jumbotron h1 {
    font-family: "Alatsi", sans-serif;
    color: #f48826;
    letter-spacing: 2px;
    font-size: 3em;
}

.callout-jumbotron p {
    font-family: "Alata", sans-serif;
    color: #fafafa;
}

/* ----- Album Promotion Section ----- */


#album-promotion-section {
    font-family: "Alata", sans-serif;
    background-color: #DCB3AC;
    text-align: center;
    padding: 1.2em 0;
    height: 100%;

}

.promo-header {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 30px;
    color: #131313;
}

#album-promotion-section ul {
    padding: 0;
}

.social-media-links li {
    display: inline-block;
    font-size: 2em;
    padding: 0 20px;
}

.social-media-links li a span i {
    color: rgb(70, 70, 70);
}

.cta-album {
    margin-top: 30px;
    width: 100%;
}

#cta-album:hover {
    text-decoration: none;
}

.cta-promo-section {

    background-color: #131313;
    color: #dddddd;
    text-decoration: none;
    font-size: 35px;
    border-radius: 0 !important;
}

.cta-promo-section:last-child {
    margin-top: 10px;
}

.cta-listen-shop:hover {

    background-color: #dadada;
    color: #131313;
}

.testimonies-container p {
    font-size: 20px;
    color: #252525;

}

.reviewer-header {
    color: #252525;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;

}

.reviewer-header:last-child {
    margin-bottom: 30px;
}

.quote-content {
    margin-top: 30px;
    font-size: 1.2rem;
}

.block-divider {
    border-top: 3px solid black !important;
}

.block-divider-home {
    border-top: 3px solid #fafafa !important;
    width: 75%;
}


#album-cover {
    width: 100%;
    height: 100%;
}

.home-video-wrapper {
    font-family: "Lato", sans-serif;
    background-color: rgb(22, 22, 22);
    margin: 30px 0;
    color: #fafafa;
}

.home-video-wrapper h5  {
    font-weight: 300;
}

.home-video-wrapper h5 . {
    font-style: italic;
}

/* ----- Mailing List/Spotify Section */

.mailing-spotify-container {
    background: url("../images/hero-images/video-hero.png") no-repeat bottom fixed;
    background-size: contain;
    background-color: #08172c;
    color: #fafafa;
    width: 100vw;

}

.mailing-cta {
    background-color: rgba(22, 22, 22, 0.5);
    border-radius: 3%;
    padding: 2rem 0;
    margin-bottom: 25px;
}

.mail-icon {
    position: relative;
    right: 20px;
}

.mailing-cta h3 {
    text-transform: uppercase;
    font-family: "Alatsi", sans-serif;
    color: #f48826;
}

.mailing-cta p,
button {
    font-family: "Alata", sans-serif;
}

.mailing-spotify-container iframe {
    border: none;
    border-radius: 5px;
}

.spotify-desktop-image {

    height: 70px;
    border-style: none;
    border-radius: 5px;
    align-self: center;
    margin: 0 auto;
}


.spotify-leaderboard {
    margin-bottom: 15px;
}

.spotify-player {
    max-height: 80px;
}

/* ----- Footer ----- */

.footer {
    background-color: rgb(154, 208, 192);
}

.label-icon-wrapper {
  width: 100%;
  --aspect-ratio-w: 4;
  --aspect-ratio-h: 5;
}

.earth-agency-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;


}

.strut-icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
}

.footer-social-icons {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-icons li {
    display: inline-block;
    margin: 0;
}

.footer-social-icons li a {
    font-size: 2.5rem;
    padding: 0 20px;
    text-decoration: none;
    color: rgb(22, 22, 22)
}

.footer-social-icons li a i:hover {
    color: #292929;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-------------------------- End of Home Page ---------------------*/

/* ------------------------- 'About' Page --------------------------*/

/* ----- Header ----- */

.about-hero {
    background: url("../images/hero-images/about-hero.jpg") no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 65%;
    height: 100vh;
    width: 100%;
}

.about-hero p {
    font-family: 'Alata', sans-serif;
    float: right;
    color: #fafafa;
    font-size: 1rem;
}

.about-quote {
    font-size: .9rem;
}

.summary-wrapper-1 {
    position: relative;
}

.summary-row-1 {
    margin-top: 30px;
}

.summary-row-2 {
    margin-top: 100px;
}


#bio-summary-1 {
    width: 100%;
    float: right;
    text-align: right;
    position: absolute;
    top: -30px;
    right: 0;
    padding-right: 10px;
}

#bio-summary-2 {
    margin-top: 50px;

}

.highlights {
    font-family: 'Alatsi', sans-serif;
    text-transform: uppercase;
    color: #f48826;
    font-size: 1.7em;
}

.quotation-mark {
    font-size: 2em;
}

/* ------ Biography Section ------ */


#about-band {
    background-color: #DCB3AC;
    min-height: 100vh;
}

.profile-container p {
    padding: 0 20px;
}


.profile-body {
    padding: 0 5px;
    font-family: "Alata", sans-serif;
    text-align: center;
}

.profile-body p:first-child {
    margin-top: 20px;
}

.history-image-wrapper {
    font-family: "Lato", sans-serif;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history-image-inner {
    background: rgb(22, 22, 22);
    color: #fafafa;
    padding-top: 24px;
}

.history-image {
    width: 90%;
}

figcaption small{
    font-weight: 200 !important;
    font-style: italic;
}

/* ----- Images of Album catalogue styled with two squares layered with z-index ----- */

/* Displays images inline */

#ss-st-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jr-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ff-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.st-square-container {
    margin-top: 100px;
    position: absolute;
}

.st-square-outer {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: rgba(102, 102, 102);
    position: relative;
    z-index: 3;
    margin: auto;
}

.st-square-inner {
    width: 90px;
    height: 90px;
    left: 20%;
    top: 80%;
    background: url('https://f4.bcbits.com/img/a1780245514_10-500x500.jpg') no-repeat bottom;
    background-size: contain;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px 0px 0px -45px;
}

.ss-square-container {
    margin-top: 100px;
    position: absolute;
}

.ss-square-outer {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: rgb(102, 102, 102);
    position: relative;
    z-index: 3;
    margin: auto;
}

.ss-square-inner {
    width: 90px;
    height: 90px;
    right: 60%;
    background: url('../images/nt-sirensong-albumcover.jpg') no-repeat;
    background-size: cover;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px 0px 0px -45px;
}

.st-sa-cta {
    font-family: "Alatsi", sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    color: black;
    letter-spacing: 1px;
}

i.fa-angle-double-left {
    display: none;
}

i.fa-angle-double-right {
    display: none;
}

.jr-square-container {
    margin-top: 100px;
}

.jr-square-outer {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(102, 102, 102);
    position: relative;
    z-index: 3;
    margin: auto;

}

.jr-square-inner {
    width: 180px;
    height: 180px;
    background: url('../images/shop-images/jr-cd.jpg') no-repeat;
    background-size: cover;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -90px 0px 0px -90px;
}



.ff-square-container {
    margin-top: 100px;
}

.ff-square-outer {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    background-color: rgba(102, 102, 102);
    position: relative;
    z-index: 3;
    margin: auto;
}

.ff-square-inner {
    width: 180px;
    height: 180px;
    background: url('../images/shop-images/ff-cd.jpg') no-repeat bottom;
    background-size: contain;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -90px 0px 0px -90px;
}

/* ----- Band Cards ----- */

#band-profile {
    background-color: #DCB3AC;
}

#vocals-container {
    margin-top: 30px;
}

.card {
    background-color: rgb(22, 22, 22);
    color: #f0e7df;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    height: 95%
}


.card button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: #DCB3AC;
    color: black;
    border: 3px solid #fafafa !important;
    letter-spacing: 1px;
}

.card-title {
    font-family: "Alatsi", sans-serif;
}

.card-text {
    font-family: "Alata", sans-serif;
}



/* ----- Band Modals ----- */



.modal-video {
    width: 100%;
}

.modal-header {
    font-family: "Alatsi", sans-serif;
    background: rgb(22, 22, 22);

}

.modal-header h5 {
    text-align: center;
    color: #fafafa;
}

.modal-footer {
    background: rgb(22, 22, 22);
}

.modal-body {
    background: rgb(22, 22, 22);
    color: #fafafa;
    font-family: "Alata", sans-serif;
    text-align: center;
}

.modal button {
    font-family: "Lato", sans-serif;
    background-color: #DCB3AC;
    color: rgb(22, 22, 22);
    border: 3px solid #fafafa;
}



/* --------------------------------------- Live Shows ----------------------------------------- */

/* ----- Header ------ */

.live-hero {
    height: 100vh;
    background: url("../images/hero-images/live-hero.png") no-repeat fixed;
    background-position: 40%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    


}

.live-header h1 {
    padding-top: 45px;
    font-family: "Alatsi", sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    color: #f48826;
}

.opaque-overlay-live {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.466);
}

/* NavAlert Button Font */

.navalert-container {
    font-family: "Alata", sans-serif;
}

.alert-button {
    font-family: "Lato", sans-serif;
}

/* ----- Featured Shows ----- */

.feature-shows.div {
    margin: auto;
}


.responsive-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#feature-container-1 {
    margin-left: 10px;
    width: 70%;
    text-align: center;
}

#feature-image-1 {
    width: 100%;

}


/* Change size of FontAwesome pin for mobile screen size */

.fa-map-pin {
    font-size: 1.5rem;
    margin-right: 5px;
    color: #f48826;
}

.fa-map-pin:hover {
    color: #fafafa;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.fa-calendar-alt {
    font-size: 1.5rem;
    margin-right: 5px;
    color: #f48826;
}


.fa-calendar-alt:hover {
    color: #fafafa;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.fa-ticket-alt {
    font-size: 1.5rem;
    margin-right: 5px;
    color: #f48826;
}

.buy-tickets {
    font-family: "Alatsi", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #f48826 !important;
}

#sold-out {
    margin-left: 15px;
}

.feature-info {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    padding: 10px;
    background-color: rgba(70, 70, 70, 0.74);

}

.feature-info p {
    color: #fafafa;
    text-align: center;

}

/* ----- Gig Listings ----- */

#gig-listings {
    background-color: #DCB3AC;
    height: 100%;
    /* To be changed at a later date */


}

/* Listings Table */

.listings-wrapper {
    margin: 15px;
    background-color: rgba(22, 22, 22, 0.705);
    border-radius: 10px;
    overflow: scroll;
    height: 300px;
}

.borderless td,
.borderless.th {
    border: none
}


.table td {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    padding: 5px;
    text-align: center;
}

td:first-of-type {
    color: #f48826;
    font-weight: 300;
}

td:nth-child(2) {
    color: #fafafa;
}

.listings-ticket-icon {
    font-size: 2.5rem;
}

.soldout-bold {
    color: #fafafa;
    font-weight: 300 !important;
}

.liveshows-mailing {
    margin: 25px;
}

.mailing-cta-live {
    font-family: "Alatsi", sans-serif;
    color: rgb(70, 70, 70);
    background: none;
    border: 5px solid rgb(70, 70, 70);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.mailing-cta-live h3 {
    text-transform: uppercase;
    text-decoration: underline;
}

.mailing-cta-live p {
    font-family: "Alata", sans-serif;
}

.mailing-cta-live button {
    background-color: rgb(70, 70, 70);
    color: #fafafa;
}

.liveshows-spotify-player {
    border: none;
    margin: 10px;
    height: 80px;
}


/* ----------------------------- Video Page ---------------------------------- */

.video-hero {
    background: url("../images/hero-images/video-hero.png") no-repeat bottom fixed;
    background-size: cover;
    background-position: 52%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.video-hero h1 {
    font-family: "Alatsi", sans-serif;
    color: #f48826;
    text-transform: uppercase;
    text-decoration: underline;
}

.opaque-overlay-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Video Sections */

.video {
    width: 100%;
}

.video-collection {
    background-color: #DCB3AC;
}

.video-wrapper {
    background-color: rgb(22, 22, 22);
    padding: 30px;
    border-radius: 5px;
    margin: 30px 0;
}

.video-divider {
    border-top: 3px solid #fafafa;
}

.video-wrapper h5 {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    color: #fafafa;
}

/* Music Video Sub-section */

 /* Receiving anchor element for 'Music Videos' button */

 .music-videos-anchor-target {
    margin-top: 100px;
}



/* ----------------------------- Shop Page ----------------------------- */

/* ----- Music Shop Section ----- */

.shop-section {
    padding-top: 48px;
    background-color: #DCB3AC;
}

.shopping-cart {
    margin-top: 10px;
}

.item-row {
    margin-top: 30px;
}

.item-image {
    width: 100%;
}

.item-body {
    background-color: white;
}

.item-card h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.item-card button {
    border: 1px solid #fafafa;
}

.modal-img {
    height: 200px;
    width: 200px;
    float: left;
}

.modal-img-wide {
    width: 100%;

}

#print-modal-img {
    max-height: 400px;
    float: left;
}

#shirt-options-wrapper {
    margin-top: 30px;
}

.item-info {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 10px !important;
}

.item-info p {
    clear: both;
    text-align: left;
}

.mobile-card-header {
    font-size: .8rem;
}

.addbasket-button {
    float: left;
}


/* ----- Cart Info and Cart Styling ----- */
/* Referenced from John Smilga (freecodecamp.org) 
   Git Username: john-smilga
   Repository handle: js-cart-setup */

   .cart-info {
    font-family: "Alata", sans-serif;
    border: 2px solid black;
    background-color: #fafafa;
    border-radius: 0.25rem;
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    color: rgb(22, 22, 22);
}

#item-count {
    display: block;
}

.cart {
    font-family: "Alata", sans-serif;
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.89);
    color: #fafafa;
    width: 0;
    overflow: scroll;
 }

.cart h4 {
    text-decoration: underline;
}

.cart-basket-icon {
    margin-right: 20px;
}

#item-img {
    width: 25%;
    height: 25%;
}

.show-cart {
    width: 100%;
    /* Fills shopping cart the full width of column between item cards */
    padding: 0 1.5rem;
    transform: scale(1);

}

.item-wrapper {
    transition: all 2s ease-in-out;
    border: 2px solid #fafafa;
}

.item-text {
    text-align: left;
    margin-right: 5px;
}


.basket-btn {
    color: #fafafa;
    float: right;
    border: 2px solid #fafafa;
}



#cart-item-price {
    font-size: 0.8rem;
}

.checkout-header {
    background:url("../images/nt-livelistings-header.png") no-repeat right;
    background-size: contain;
    background-color:rgb(22, 22, 22);
}

.checkout-header h5 {
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    font-size: 2.3rem;
}

.blockdivider-checkout {
    border-top: 2px solid #fafafa;
}

.checkout-modal-button {
    font-family: "Alata", sans-serif !important;
}

.checkout-modal-button:hover {
    cursor: pointer !important;
}


/* ----------------- Contact Page ------------------ */

/* Contact Page Background */

#contact-hero {
    background: url("../images/hero-images/contact-hero.jpeg") no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 48%;
    height: 100vh;

} 

.opaque-overlay-contact {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.678);
}

/* Contact Form - Border and Font Styling */

.form-wrapper {
    font-family: "Alata", sans-serif;
    background-color: rgba(22, 22, 22, 0.233);
    border-radius: 0.3rem;
    color: #fafafa;
    margin-right: 20px;

}

.contactform-legend {
    font-weight: 200;
    border-bottom: 1px solid #fafafa;
    
}

button[type="submit"] {
    background-color: #DCB3AC;
    color: rgb(22, 22, 22);
    border: 2px solid #fafafa;
}

/* Wrapper for Label and Booking Agent contact details */

.representative-wrapper {
    font-family: "Lato", sans-serif;
    font-size: .7rem;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.representative-wrapper {
    margin-top: 0;
    max-width: 150px;
}

.representative-wrapper span {
    font-style: italic;
    color:#f48826;
}

/* Icons for label and booking agents */
.rep-image {
    display: block;
    width: 100%;
    height: auto;
}

/* Screen Size - 320px (iPhone 5) */
@media (min-width: 320px) {
    
    /* Targetting Clothing/Prints section header in Shop Page */
    .shop-section:last-child h2:last-child {
        font-size: 1.6rem;
    }
}

/*-------------------- End of Mobile Screen CSS Styling --------------------- */

/* ------------------- Media Query for Tablet Screen Size ------------------- */

@media (min-width: 768px) {

    /* Page header (h1) - Applies to all pages */

    .navbar-collapse {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-header h1 {
        font-family: "Alatsi", sans-serif;
        font-size: 3rem;
        color:#f48826;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .header-padding {
        padding-top: 100px;
    }

    .section-header {
        background-position: 6%;
    }

    .section-header h2 {
        font-size: 3rem !important;
        margin-right: 40px;
    }

    /* ----- Navigation Bar ----- */

    .navbar-nav li {
        font-size: 1em;
        padding: 1.5em .5em;
    }

    .navbar-logo {
        width: 100px;
     }

    .navbar img {
        display: block;
        width: 100%;
        height: auto;
    }

    /* ----------------- Home Page --------------- */

    #hero-image {
        background-position: bottom;
    }

    .callout-jumbotron {
        margin-bottom: 300px;
    }

    .callout-jumbotron h1 {
        font-size: 4rem;
    }

    /* ----- Album Promotion Section ----- */

    .social-media-links li {
        display: inline-block;
        font-size: 3rem;
        padding: 0 40px;
    }

    .quote-content {
        /* margin-top: 30px; */
        font-size: 1rem;
    }

    .reviewer-header {
        
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 2px;

    }

    .cta-promo-section:last-child {
        margin-top: 0; /* Cancels out margin on mobile phone, since the call-to-action 
                        buttons on tablet screen size and up are displayed inline */
    }
    

    /* Featured videos */

    .home-video-wrapper {
        margin: 30px 0;
    }

    /* ----- Mailing/Spotify Player Section ----- */

    .mailing-spotify-container {
        height: 50vh;
        background-position: 0% 100%;
    }

    .mailing-cta-tablet-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mailing-cta {
        width: 50%;
    }

    .spotify-leaderboard {
        width: 100%;
    }

    .footer-social-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-social-icons li {
        display: inline-block;
        padding: 0.3rem 2rem;
    }

    .footer-social-icons li a {
        font-size: 2rem;
    }

    /* -------------------- About Page -------------------- */

    /* ----- Header ----- */

    .about-background {
        background-position: 55%;
    }

    .about-quote p {
        line-height: 50px;
        font-size: 1.5rem;
    }

    .summary p {
        font-size: 1.3rem;
        line-height: 30px;
    }

    .summary-row-2 {
        margin-top: 150px;
    }

    #bio-summary-1 {
        margin-top: 0;
        width: 100%;
        float: none;
        text-align: left;
    }

    #bio-summary-2 {
        margin-top: 100px !important;
        width: 100%;
    }

    /* ----- Band History Section ----- */


    .history-image-wrapper {
        font-family: "Lato", sans-serif;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .history-image-inner {
        background: rgb(22, 22, 22);
        color: #fafafa;
        padding-top: 24px;
    }

    .history-image {
        width: 90%;
    }

    .history-flex-wrapper {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    /*  Clickable Images of Album Cover  */

    .st-square-outer {
        margin-top: 80px;
        width: 200px;
        height: 200px;
        background-color: rgba(102, 102, 102);
        position: relative;
        z-index: 3;
        margin: auto;
    }

    .st-square-inner {
        width: 180px;
        height: 180px;
        margin: -90px 0px 0px -90px;
    }

    .ss-square-container {
        margin-top: 100px;
        position: absolute;
    }

    .ss-square-outer {
        margin-top: 100px;
        width: 200px;
        height: 200px;
        background-color: rgb(102, 102, 102);
        position: relative;
        z-index: 3;
        margin: auto;
    }

    .ss-square-inner {
        width: 180px;
        height: 180px;
        right: 60%;
        background: url('http://www.rhythmpassport.com/wp-content/uploads/2016/09/a0160417941_10-1050x1030.jpg') no--eat;
        background-size: cover;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -90px 0px 0px -90px;
    }

    .st-sa-cta {
        font-family: "Alatsi", sans-serif;
        font-size: 2rem;
        color: #fafafa;
        letter-spacing: 1px;
    }

    i.fa-angle-double-left {
        display: inline-block;
        color: black;
    }

    i.fa-angle-double-right {
        display: inline-block;
        color: black;
    }

    /* ----- Band Cards ---- */

    .band-card {
        margin: 30px 0;
    }

    .card {
        max-width: 100%;
        max-height: 100%;
    }

    .card {
        background-color: rgb(22, 22, 22);
        color: #f0e7df;
        height: 100%;
    }

    .card button {
        background-color: #DCB3AC;
        color: black;

    }

    /* --------------------------------- LIVE SHOWS -------------------------------------- /*

    /* ----- Header Fixed Background ----- */

    .live-header {
        background-position: 50% 70%;
        
    }

    .opaque-overlay-live {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.555);
    }


    .live-header h1 {
        padding: 0;
    }

    .feature-row {
        display: flex;
        justify-content: end;
        align-items: flex-end;
    }

    /* Site-wide alert (displayed on tablet screen size up) */

    .alert {
        background-color: rgba(22, 22, 22, 0.5);
        color: #fafafa;
        border: none;
        padding: 5px 10px;
    }

    .alert-link-float {
        float: right;
        padding-right: 20px;
    }

    .alert-link {
        text-transform: uppercase;
        color: #f48826 !important;
        font-size: 1.3rem;
    }

    .alert-link:hover {
        text-decoration: none;
        color: #fafafa !important;
        transition: 0.3s ease-in-out;

    }

    /* ----- Featured Shows ----- */

    #feature-container-1 {
        width: 90%;
        text-align: left;
    }

    #feature-image-1 {
        width: 100%;
    }

    #feature-container-2 {
        width: 80%;
        text-align: left;
        margin-left: 40px;
    }

    #feature-image-2 {
        width: 100%;
    }

    .feature-info p {
        font-size: 0.9rem;
    }

    #ticket-link:hover {
        text-decoration: none;
    }

    #ticket-link>p:hover {
        color: #fafafa !important;
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .buy-tickets {
        font-size: 1.4rem !important;
    }

    #sold-out {
        margin-left: 8px;
    }

    #livelistings-image {
        width: 100%;
    }

    tr {
        display: inherit;
    }

    .mailing-spotify-liveshows {
        margin-bottom: 50px;
    }



    .liveshows-spotify-player {
        height: 100%;

    }

    /* ---------------------------- Video Page (min-width 768px) ----------------------------- */

    .video-hero {
        background-position: 50%;
    }

    .feature-video-container {
        margin-top: 100px;
    }

    .video-wrapper h5 {
        font-size: 1.7rem;
    }

    .desktop-span {
        display: inline;
    }

    /* ------------------------- End of Video Page ---------------------- */

    /* ------------------------- Shop Page ------------------------------ */

    .shop-section {
        padding-top: 85px;

    }

    .cart-info {
        font-family: "Alata", sans-serif;
        border: 2px solid black;
        background-color: #fafafa;
        border-radius: 0.25rem;
        padding: 0.4rem 0.6rem;
        cursor: pointer;
        color: rgb(22, 22, 22);
    }
    

    .cart {
        font-family: "Alata", sans-serif;
        position: absolute;
        z-index: 3;
        transition: all 0.7s ease-in-out;
        background: rgba(22, 22, 22, 0.89);
        color: #fafafa;
        height: auto;
        overflow: scroll;
     }

    .show-cart {
        width: 500px;
        padding: 0 1.5rem;
        transform: scale(1);
    
    }

    .item-text {
        text-align: left;
        margin-right: 50px;
    }

      /* Item Cards */


    .item-card {
        margin: 20px 0;
    }

    .mobile-card-header {
        font-size: 1rem;
    }

    /* Creates a margin for empty div containing receiving anchor for "Music" link button
included to provide accuracy for hyperlink to section of page */
    .music-shop-anchor-target {
        margin-top: 95px;
    }

    /* ---- Music Shop Section ---- */

    .anchor-wrapper button {
        font-size: 2rem;
    }

    /* ------------- Contact Page --------------- */

    /* Background Image Positioning */

    #contact-hero {
        background-position: 50%;
       } 
    
    /* Label Icon Images to accompany contact information */

    
    .rep-image {
        margin-bottom: 20px;
     
    }

    .representative-wrapper {
        margin: 0;
        max-width: 180px;
        font-size: 1rem;
    }

}


/* ------------------------- End of Tablet Screen CSS Styling ---------------------- */

/* ------------------------- Laptop/Desktop Screen CSS Styling --------------------- */

@media (min-width: 992px) {

    /* Page Header (h1) font size - Applies to all pages */

    .page-header {
        font-family: "Alatsi", sans-serif;
        font-size: 4rem;
        color:#f48826;
        text-transform: uppercase;
        text-decoration: underline;
    }

    /* ----- Navigation Bar ----- */

    .navbar-nav li {
        font-size: 1.6rem;
        letter-spacing: 1px;
        padding: 0 1.5rem;
    }

    .navbar img {
        display: inline-block;
        width: 100px;
        height: 90px;
    }

    /* --------------------- Home Page ------------------- */

    .callout-jumbotron {
        margin: 0;
    }

    .anchor-wrapper button:hover {
        color: #f48826;
    }
    

    /* ----- Album Promotion Section ----- */

    .promo-header {
        font-size: 2.8rem;
      }

    /* Download/Buy & Shop Buttons - Inverts font and background colours upon hovering */
    .cta-promo-section:hover {
        background-color: #dadada;
        color: #131313;
    }

    .social-media-links li a span i:hover {
        color: black;
        transition: 0.3s ease-in-out;
    }

    .quote-content {
        font-size: 1.5rem;
        margin-top: 40px;
    }

    /* Targets the quotes on either side of album cover image in album promotion section */
    .quote-content:nth-child(2) {
        margin-top: 90px;
    }

    .block-divider {
        border-top: 2px solid black;
        display: block;
    }

    .home-video-wrapper {
        padding: 30px;
    }

    .feature-video {
        max-width: 600px;
        max-height: 332px;
    }

    /* ----- Mailing/Spotify Player Section ----- */

    .mailing-spotify-container {
        height: 60vh;
    }

    .mailing-cta {
        width: 100%;
        background-color: rgba(22, 22, 22, 0.658)
    }

    .mailing-cta h3 {
        color: #f48826 !important;
    }

    .spotify-desktop-image {
        margin-top: 60px;
    }

    .spotify-player {
        margin-top: 60px;
    }

    /* ----- Footer Section ----- */

    .footer-social-icons {
        margin-top: 15px;
    }

    .footer-social-icons li {
        display: inline-block;
        padding: 0;
    }

    .footer-social-icons li a {
        font-size: 2.1rem;
    }

    /* ------------------------ About Page ---------------------- */

    /* --- Header Quote --- */

    .about-quote p {
        font-size: 1.5rem;
    }

    .summary p {
        font-size: 1rem;
    }

    .summary-row-1 {
        margin-top: 0;
    }

    .summary-row-2 {
        margin-top: 0;
    }


    /* ------------- Band History Section -------------- */

    #about-band h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .profile-body {
        padding: 0 50px;
        font-size: 1.2rem;
    }

    /* - Provides margin to start and end of section */
    .profile-body p:first-child {
        margin-top: 40px;
    }

    .profile-body:last-child {
        margin-top: 60px;
    }

    /* ----- Clickable Images of Album Covers ----- */

    .st-square-outer {
        margin-top: 80px;
        width: 200px;
        height: 200px;
        background-color: rgba(102, 102, 102);
        position: relative;
        z-index: 3;
        margin: auto;
    }

    .st-square-inner {
        width: 180px;
        height: 180px;
        margin: -90px 0px 0px -90px;
    }

    .st-square-inner:hover {
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
    }

    .ss-square-outer {
        margin-top: 100px;
        width: 200px;
        height: 200px;
        background-color: rgb(102, 102, 102);
        position: relative;
        z-index: 3;
        margin: auto;
    }

    .ss-square-inner {
        width: 180px;
        height: 180px;
        margin: -90px 0px 0px -90px;
    }

    .ss-square-inner:hover {
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
    }


    .st-sa-cta {
        font-size: 2rem;
        letter-spacing: 1px;
        color: black;
    }

    .jr-square-inner {
        float: left;
    }

    .jr-square-outer {
        margin: 10px 0;
    }

    .jr-square-inner:hover {
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
    }

    .ff-square-outer {
        margin: 10px 0;
    }

    .ff-square-inner:hover {
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
    }


    i.fa-angle-double-left {
        margin-right: 10px;
    }

    i.fa-angle-double-right {
        margin-left: 10px;

    }

    /* --- Band Cards --- */

    .card {
        cursor: pointer;
    }


    .band-card:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;

    }

    .card button:hover {
        background-color: rgb(22, 22, 22);
        border: 3px solid #fafafa;
        transition: 0.3s ease-in-out;
        color: #f48826;

    }

    /* Band Member Modal Window Close Button */

    .modal button:hover {
        background-color: rgb(22, 22, 22);
        border: 3px solid #fafafa;
        transition: 0.3s ease-in-out;
        color: #f48826;
    }

    /* ------------------------ Live Shows Page ------------------------ */

    .live-header {
        background-position: 90%;
        height: 100vh;
    }

    .opaque-overlay-live {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.555);
    }

    .navalert-container button:hover {
        background-color: rgb(22, 22, 22);
        color: #f48826;
        border: 1px solid #fafafa;
    }

    /* ----- Featured Shows ----- */

    .responsive-wrapper {
        display: initial;
    }

    #feature-container-1 {
        margin-left: 15px !important;
        width: 60%;
        height: 100%;
        text-align: right;

    }

    .feature-soldout {
        margin-left: 10px;
    }

    #feature-image-1 {
        width: 100%;
        position: static;
    }

    #feature-container-2 {
        float: right;
        margin-right: 10px;
        width: 70%;
        text-align: left;
    }

    #feature-image-2 {
        width: 100%;

    }

    .fa-map-pin {
        font-size: 1.6rem;
        margin-right: 15px;
        color: #f48826;
    }

    .fa-map-pin:hover {
        color: #fafafa;
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .fa-calendar-alt {
        font-size: 1.6rem;
        margin-right: 15px;
        color: #f48826;
    }

    .fa-calendar-alt:hover {
        color: #fafafa;
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .feature-info {
        padding: 5px;
        background-color: rgba(70, 70, 70, 0.74);
       
    }


    /* ----- Gig Listings ----- */

    .section-header h2 {
        margin-top: 40px !important;
    }


    .block-divider {
        border-top: 3px solid black;
    }

    .section-header h2 {
        font-size: 3rem !important;
        margin-top: 0;
    }

    .listings-ticket-icon {
        font-size: 2.2rem;
    }

    .listings-wrapper {
        max-height: 500px;
        height: 500px;
        overflow: scroll;
    }

    .listings-ticket-icon:hover {
        color: #fafafa;
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .liveshows-mailing {
        margin: 100px 0;
    }

    td {
        font-size: 1.3rem;
    }

    .mailing-spotify-liveshows {
        margin-top: 50px;
    }

    .mailing-cta-live {
        background: none;
        padding: 30px;
        border-radius: 3%;
        margin-bottom: 25px;
        margin-right: 25px !important;
    }

    .mailing-cta-live button:hover {
        background-color: rgb(22, 22, 22);
    }

    .mailing-cta h3 {
        color: rgb(22, 22, 22);
    }

    .liveshows-spotify-player {
        height: 300px;
    }

    /* --------------------- Video Page ----------------------- */

    /* Receiving anchor element for 'Live Videos' button */

    .live-videos-anchor-target {
        margin-top: 100px;
    }

    /* ---------------------- Shop Page ------------------------ */

    /* ----- Music Shop Section ----- */

    .shop-section {
        padding-top: 100px;
    }

    #music-shop-body {
        position: relative;
    }

    /* Cart Info Clickable Div */

    .cart-info:hover {
        background-color: rgb(22, 22, 22);
        color: #f48826;
        transition: 0.5s ease-in-out;
        
    }

    .cart-info-icon {
        font-size: 2rem;
    }

    .basket-btn:hover {
        background-color: rgb(22, 22, 22);
        border: 2px solid #fafafa;
        transition: 0.3s ease-in-out;
        color: #f48826;
    }

    .checkout-modal-button:hover {
        background-color: rgb(22, 22, 22);
        border: 2px solid #fafafa;
        transition: 0.3s ease-in-out;
        color: #f48826;
    }


    /* ------------------ Contact Page ------------------- */

    #contact-hero {
        background-position: 100% 15%;
       } 
    

    button[type="submit"]:hover {
        background-color: rgb(22, 22, 22);
        border: 2px solid #fafafa;
        transition: 0.3s ease-in-out;
        color: #f48826;
    }

    .representative-wrapper {
        margin: 0;
        max-width: 300px;
        font-size: 1rem;
    }

    .rep-image {
        width: 75%;
    }

    .mail-rep:hover {
        text-decoration: none;
        
    }

    .mail-rep span:hover {
        color: #fafafa;
        transition: 0.3s ease-in-out;
     }

}

/* ----------------------- End of Laptop/Desktop Screen CSS Styling ------------------------ */
