/* ----- Fonts ----- */

@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html,
body {
    min-height: 100%;
    margin: 0;
}


/* ----- Navigation Bar ----- */


.navbar {
    background-color: rgb(154, 208, 192);
    margin-bottom: 20px;
    padding: 0;
}

.navbar-brand img {
    width: 120px;
    height: 100px;
    margin-left: 20px;
}

.navbar a {

    color: #0c0c0c;
}

.navbar-nav li {

    font-family: 'Alata', sans-serif;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0c0c0c;
    padding: 0 2em;
    display: inline-block;
}

.navbar a:hover {
    color: #f48826;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

li:hover {
    color: #f48826;
    transition: 0.3s ease-in-out;
}

ul li a.active {
    color: #927975;
}

.dropdown-menu {
    background-color: rgb(154, 208, 192);
    color: #fafafa;
    border: 2px solid black;
    border-radius: 5px;
    right: 0 !important;
    left: auto !important;
}

.dropdown-item:hover {
    background: none;
}

.navbar-mobile-toggler {
    color: black;
    font-size: 30px;
}

.navbar-toggler {
    border: none;
    outline: none;
}

/* ----- Fixed Background Image ----- */

#hero-image {

    height: 95vh;
    background: url("../images/nt-hero-bg.jpg") no-repeat bottom fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.747);
}

/* ----- Jumbotron ----- */

.callout-jumbotron {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.callout-jumbotron h2 {
    font-family: "Alatsi", sans-serif;
    color: #f48826;
    letter-spacing: 4px;
    font-size: 4em;
}

.callout-jumbotron p {
    font-family: "Alata", sans-serif;
    color: #fafafa;
}

/* ----- Album Promotion Section ----- */


#album-promotion-section {
    font-family: "Alata", sans-serif;
    background-color: #DCB3AC;
    text-align: center;
    padding: 2em 0;
    height: 100%;

}

.promo-header {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 30px;
    color: #131313;
}

#album-promotion-section ul {
    padding: 0;
}

.social-media-links li {
    display: inline-block;
    font-size: 2em;
    padding: 0 20px;
}

.social-media-links li a span i {
    color: rgb(70, 70, 70);
}

.cta-album {
    margin-top: 30px;
    width: 100%;
}

#cta-album:hover {
    text-decoration: none;
}

.cta-listen {

    background-color: #131313;
    color: #dddddd;
    text-decoration: none;
    font-size: 40px;
    border-radius: 0 !important;
}

.cta-listen:hover {

    background-color: #dadada;
    color: #131313;
}

.testimonies-container p {
    font-size: 20px;
    color: #252525;

}

.reviewer-header {
    color: #dddddd;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;

}

.quote-content {
    margin-top: 30px;
    font-size: 1.2rem;
}


#album-cover {
    margin: 30px 0;
    width: 100%;
    height: 100%;
}

.feature-video {
    max-width: 350px;
    max-height: 194px;
}

.feature-video-1 {
    margin-bottom: 20px;
}

/* ----- Mailing List/Spotify Section */

.mailing-spotify-container {
    background: url("../images/nt-accordion-background(3).png") no-repeat bottom fixed;
    background-size: contain;
    background-color: #08172c;
    color: #fafafa;
    height: 70vh;
    width: 100vw;

}

.mailing-cta {
    background: rgba(105, 158, 142, 0.178);
    padding: 30px;
    border-radius: 3%;
    margin-bottom: 25px;
}

.mail-icon {
    position: relative;
    right: 20px;
}

.mailing-cta h3 {
    text-transform: uppercase;
    font-family: "Alatsi", sans-serif;
    color: #f48826;
}

.mailing-cta p,
button {
    font-family: "Alata", sans-serif;
}

.mailing-spotify-container iframe {
    border: none;
    border-radius: 5px;
}

.spotify-desktop-image {

    height: 70px;
    border-style: none;
    border-radius: 5px;
    align-self: center;
    margin: 0 auto;
}

.spotify-leaderboard {
    margin-bottom: 15px;
}

.spotify-player {
    max-height: 80px;
}

/* ----- Footer ----- */

.footer {
    background-color: rgb(154, 208, 192);
}

.earth-agency-icon-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.earth-agency-icon {
    margin-top: 10px;
}

.strut-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-icons {
    margin-bottom: 0;
}

.footer-social-icons li {
    display: inline-block;
    margin: 0;
}

.footer-social-icons li a {
    font-size: 2rem;
    padding: 0 20px;
    text-decoration: none;
    color: rgb(70, 70, 70);
}

.footer-social-icons li a i:hover {
    color: #292929;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*------------------------------------------------------------------*/

/* ------------------------- 'About' Page --------------------------*/

/* Header */

.about-background {
    background: url("../images/about-background.jpg") no-repeat right fixed;
    background-size: cover;
    height: 100vh;
    padding-top: 110px;
    width: 100%;
}

.about-header {
    padding: 30px;
}

.about-header h1 {
    font-family: "Alatsi", sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    color: #f48826;
    font-size: 4em;

}

.about-header p {
    font-family: 'Alata', sans-serif;
    float: right;
    clear: both;
    color: #fafafa;
}


.about-quote {
    position: relative;
    left: 30px;
    font-size: 1em;
    border-radius: 5%;
    margin-top: 30px;
}

.highlights {
    font-family: 'Alatsi', sans-serif;
    text-transform: uppercase;
    color: #f48826;
    font-size: 1.7em;
}

.quotation-mark {
    font-size: 2em;
}

.bio-summary {
    position: relative;
    top: 10vh;
    left: 8vw;
    text-align: right;
}



/* ------ Biography Section ------ */


#about-band {
    background-color: #DCB3AC;
    min-height: 100vh;
}

#about-band h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.profile-body {
    font-family: "Alata", sans-serif;
}

.profile-header {
    font-family: "Alatsi", sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}



/* ----- Images of Album catalogue styled with two circle shapes with z-index ----- */

/* Displays images inline */

#ss-st-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jr-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ff-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.st-circle-container {
    margin-top: 100px;
    position: absolute;
}

.st-circle-outer {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: rgba(102, 102, 102);
    position: relative;
    border-radius: 50%;
    z-index: 3;
    margin: auto;
}

.st-circle-inner {
    width: 90px;
    height: 90px;
    left: 20%;
    top: 80%;
    background: url('https://f4.bcbits.com/img/a1780245514_10.jpg') no-repeat bottom;
    border-radius: 50%;
    background-size: contain;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px 0px 0px -45px;
}

.ss-circle-container {
    margin-top: 100px;
    position: absolute;
}

.ss-circle-outer {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: rgb(102, 102, 102);
    position: relative;
    border-radius: 50%;
    z-index: 3;
    margin: auto;
}

.ss-circle-inner {
    width: 90px;
    height: 90px;
    right: 60%;
    background: url('http://www.rhythmpassport.com/wp-content/uploads/2016/09/a0160417941_10-1050x1030.jpg') no-repeat;
    border-radius: 50%;
    background-size: cover;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px 0px 0px -45px;
}

.st-sa-cta {
    font-family: "Alatsi", sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    color: #fafafa;
    letter-spacing: 1px;
}

i.fa-angle-double-left {
    display: none;
}

i.fa-angle-double-right {
    display: none;
}

.jr-circle-container {
    margin-top: 100px;
}

.jr-circle-outer {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(102, 102, 102);
    position: relative;
    border-radius: 50%;
    z-index: 3;
    margin: auto;

}

.jr-circle-inner {
    width: 180px;
    height: 180px;
    background: url('https://f4.bcbits.com/img/0018110379_0') no-repeat;
    border-radius: 50%;
    background-size: cover;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -90px 0px 0px -90px;
}



.ff-circle-container {
    margin-top: 100px;
}

.ff-circle-outer {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    background-color: rgba(102, 102, 102);
    position: relative;
    border-radius: 50%;
    z-index: 3;
    margin: auto;
}

.ff-circle-inner {
    width: 180px;
    height: 180px;
    background: url('../images/nt-background-1.jpeg') no-repeat bottom;
    border-radius: 50%;
    background-size: contain;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -90px 0px 0px -90px;
}

#band-profile {
    background-color: #f0e7df
}

#band-profile h2 {
    font-family: "Alatsi", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 40px 0;
}

.block-divider {
    border-top: 2px solid black;
}

.card {
    background-color: rgb(22, 22, 22);
    color: #f0e7df;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    height: 95%
}


.card button {
    background-color: #DCB3AC;
    color: black;
    border: 1px solid black;
    letter-spacing: 1px;
}

.card-title {
    font-family: "Alatsi", sans-serif;
}

.card-text {
    font-family: "Alata", sans-serif;
}



/* ----- Band Modals ----- */

.modal-video {
    width: 100%;
}



.navbar-brand img {
    display: none;
}

.cta-listen p {
    font-size: 45px;
}


.spotify-leaderboard {
    width: 100%;
    height: 100%;
}






@media (min-width: 768px) {


    /* ----------------- Home Page --------------- */

    /* ----- Navigation Bar ----- */

    .navbar-nav li {
        font-size: 1em;
        padding: 0 1em;
    }

    .navbar img {
        display: inline-block;
        width: 100px;
        height: 90px;
    }

    /* ----- Album Promotion Section ----- */

    .social-media-links li {
        display: inline-block;
        font-size: 3rem;
        padding: 0 40px;
    }

    .quote-content {
        margin-top: 30px;
        font-size: 1rem;
    }

    .reviewer-header {
        color: #dddddd;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 2px;

    }

    /* ----- Mailing/Spotify Player Section ----- */

    .mailing-spotify-container {
        background-position: 0% 100%;
    }

    .mailing-cta-tablet-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mailing-cta {
        width: 50%;
    }

    .spotify-leaderboard {
        width: 100%;
    }

    .footer-social-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-social-icons li {
        display: inline-block;
        padding: 0.3rem 2rem;
    }

    .footer-social-icons li a {
        font-size: 2rem;
    }

    /* -------------------- About Page -------------------- */

    /* ----- Header ----- */

    .bio-summary {
        position: relative;
        top: 15vh;
        left: 3vw;
        text-align: left;
        font-size: 1.3rem;
    }



    /* ----- Band History Section ------ */



    /* ----- Clickable Images of Album Cover ----- */

    .st-circle-outer {
        margin-top: 80px;
        width: 200px;
        height: 200px;
        background-color: rgba(102, 102, 102);
        position: relative;
        border-radius: 50%;
        z-index: 3;
        margin: auto;
    }

    .st-circle-inner {
        width: 180px;
        height: 180px;
        left: 20%;
        top: 80%;
        background: url('https://f4.bcbits.com/img/a1780245514_10.jpg') no-repeat bottom;
        border-radius: 50%;
        background-size: contain;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -90px 0px 0px -90px;
    }

    .ss-circle-container {
        margin-top: 100px;
        position: absolute;
    }

    .ss-circle-outer {
        margin-top: 100px;
        width: 200px;
        height: 200px;
        background-color: rgb(102, 102, 102);
        position: relative;
        border-radius: 50%;
        z-index: 3;
        margin: auto;
    }

    .ss-circle-inner {
        width: 180px;
        height: 180px;
        right: 60%;
        background: url('http://www.rhythmpassport.com/wp-content/uploads/2016/09/a0160417941_10-1050x1030.jpg') no-repeat;
        border-radius: 50%;
        background-size: cover;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -90px 0px 0px -90px;
    }

    .st-sa-cta {
        font-family: "Alatsi", sans-serif;
        font-size: 2rem;
        color: #fafafa;
        letter-spacing: 1px;
    }

    i.fa-angle-double-left {
        display: inline-block;
        color: rgb(102, 102, 102);
    }

    i.fa-angle-double-right {
        display: inline-block;
        color: rgb(102, 102, 102);
    }

    /* ----- Band Cards ---- */

    .card {
        max-width: 100%;
        max-height: 100%;
    }

    .card {
        background-color: rgb(22, 22, 22);
        color: #f0e7df;
        height: 97%;
    }

    .card button {
        background-color: #DCB3AC;
        color: black;
        border: none;
        letter-spacing: 1p
    }

    .card button:hover {}


}

@media (min-width: 992px) {

    /* --------------------- Home Page ------------------- */

    /* ----- Navigation Bar ----- */

    .navbar-nav li {
        font-size: 1.3em;
        letter-spacing: 1px;
        padding: 0 2em;
    }

    /* ----- Album Promotion Section ----- */

    .social-media-links li a span i:hover {
        color: black;
        transition: 0.3s ease-in-out;
    }

    .quote-content {
        font-size: 1.5rem;
        margin-top: 90px;
    }

    .feature-video {
        max-width: 600px;
        max-height: 332px;
    }

    /* ----- Mailing/Spotify Player Section ----- */

    .mailing-cta {
        width: 100%;
        background-color: rgba(154, 208, 192, 0.288)
    }

    .spotify-desktop-image {
        margin-top: 60px;
    }

    .spotify-player {
        margin-top: 60px;
    }

    /* ----- Footer Section ----- */

    .footer-social-icons {
        margin-top: 25px;
    }

    .footer-social-icons li {
        display: inline-block;
        padding: 0;
    }

    .footer-social-icons li a {
        font-size: 2.1rem;
    }

    /* ------------------------ About Page --------------------------- */

    /* --- Header Quote --- */

    .about-header {
        padding-top: 110px;
    }

    .about-quote {
        font-size: 1.3rem;
        border-radius: 5%;
        margin-top: 30px;
        float: right;
    }

    .bio-summary {
        position: static;
        font-size: 1em;
    }

    /* ------------- Band History Section -------------- */

    #about-band h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    /* ----- Clickable Images of Album Covers ----- */

    .st-circle-outer {
        margin-top: 80px;
        width: 100px;
        height: 100px;
        background-color: rgba(102, 102, 102);
        position: relative;
        border-radius: 50%;
        z-index: 3;
        margin: auto;
    }

    .st-circle-inner {
        width: 80px;
        height: 80px;
        left: 20%;
        top: 80%;
        background: url('https://f4.bcbits.com/img/a1780245514_10.jpg') no-repeat bottom;
        border-radius: 50%;
        background-size: contain;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -40px 0px 0px -40px;
    }

    .ss-circle-container {
        margin-top: 100px;
        position: absolute;
    }

    .ss-circle-outer {
        margin-top: 100px;
        width: 200px;
        height: 200px;
        background-color: rgb(102, 102, 102);
        position: relative;
        border-radius: 50%;
        z-index: 3;
        margin: auto;
    }

    .ss-circle-inner {
        width: 180px;
        height: 180px;
        right: 60%;
        background: url('http://www.rhythmpassport.com/wp-content/uploads/2016/09/a0160417941_10-1050x1030.jpg') no-repeat;
        border-radius: 50%;
        background-size: cover;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -90px 0px 0px -90px;
    }

    .st-sa-cta {
        font-family: "Alatsi", sans-serif;
        font-size: 2rem;
        color: #fafafa;
        letter-spacing: 1px;
    }

    /* ----- About the Band ----- */

    #band-profile {
        background-color: #f0e7df;
    }

    .about-header
    /* --- Band Cards --- */

    .card {

        height: 95%
    }

    .card button:hover {
        background-color: rgb(154, 208, 192);
        transition: 0.3s ease-in-out;
        color: white;
    }

}